option_settings:
- option_name: AUTH_KEY
  value: 'f988d49e1d843a797b42e46bd1e466f0'
- option_name: SECURE_AUTH_KEY
  value: 'b7791c440ff514adf9bdb6882e49c463'
- option_name: LOGGED_IN_KEY
  value: 'e8d8b54880917d5509fd02f0db9571fd'
- option_name: NONCE_KEY
  value: 'e3c0dc6c47ac2c2f82da02a330c36d8e'
- option_name: SECURE_AUTH_SALT
  value: '16954678d64e7f64e761bcd182937058'
- option_name: LOGGED_IN_SALT
  value: '542d2296f0c85ad714f613fce21e7f64'
- option_name: NONCE_SALT
  value: 'a8df90d8ffee375e7a71207a54e2f061'
- option_name: AUTH_SALT
  value: '00318cbada9736c7e82edd452214c769'
- option_name: WP_DB_NAME
  value: 'jfwordpress'
- option_name: WP_USERNAME
  value: 'jfwordpress'
- option_name: WP_PASSWORD
  value: 'o0aiiAsDmkVKIfgF6cyv'
- option_name: WP_HOSTNAME
  value: 'jfapp-dev-wordpressdb.cdcltzkww94k.us-east-1.rds.amazonaws.com'
- option_name: WP_SITEURL
  value: 'https://dev.joinfreddie.us/cms'

